#shop-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    gap: 1rem;
    transition: opacity ease-in-out .5s;
    opacity: 1;
}

.fade {
    opacity: 0;
}

.card-link {
    text-decoration: none;
}

#side-bar {
    width: 10%;
    padding: 10rem 1rem;
    font-family: Helvetica-Neue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

#side-bar h2 {
    font-size: 3rem;
}

#side-bar h3 {
    font-size: 2rem;
}

#side-bar button {
    border: none;
    background-color: white;
    font-family: Helvetica-Neue;
    font-size: 1.25rem;
    padding-left: 1rem;
    position: relative;
}

#side-bar button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.selected::after {
    content: "//";
    color: red;
    position: absolute;
    left: -5px;
}