@font-face {
    font-family: Helvetica-Neue;
    src: url("../Assets/Fonts/Helvetica\ Neue\ 97\ Black\ Condensed.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    min-width: fit-content;
}

nav {
    color: white;
    background-color: navy;
    display: flex;
    justify-content: space-around;
    font-size: large;
    align-items: center;
    position: relative;
    font-family: Helvetica-Neue;
    height: 90.8px;
}

.nav-name {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 100%;
}

.navlogo {
    height: 100%;
    width: 150px;
}

.navlogo-container {
    height: 100%;
    width: 125px;
    display: block;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

li {
    display: block;
    padding: 0;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 2.15rem;
    display: block;
}

.nav-links:hover {
    background-color: blue;
}

.active {
    background-color: blue;
}

#open-cart {
    padding: 2.15rem;
    display: block;
    position: relative;
}

#open-cart:hover {
    background-color: blue;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    justify-content: flex-end;
    overflow: scroll;
}

.display {
    display:flex;
}

.modal-open {
    overflow: hidden;
}

.count {
    padding: .40rem .65rem;
    background-color: red;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: none;
}

.count-display {
    display: block;
}